.choose {
  border-top: 1px solid #f7f7f0;
}

.choose ul li {
  color: #b3afa8;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.choose ul li i {
  margin-right: 5px;
}

.choose ul li:hover {
  background: none;
  color: #fe980f;
}

.category-tab {
  overflow: hidden;
}

.category-tab ul {
  background: #40403e;
  border-bottom: 1px solid #fe980f;
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul li {
  border: 0 none;
  border-radius: 0;
  color: #b3afa8;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.category-tab ul li:hover {
  background: #fe980f;
  color: #fff;
  cursor: pointer;
}

.nav-tabs li.active,
.nav-tabs li.active:hover,
.nav-tabs li.active:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fe980f;
  border: 0px;
  color: #ffffff;
  cursor: default;
  margin-right: 0;
  margin-left: 0;
}

.nav-tabs li {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right: 0;
}

.product-image-wrapper {
  border: 1px solid #f7f7f5;
  overflow: hidden;
  margin-bottom: 30px;
}

.single-products {
  position: relative;
}

.new,
.sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2 {
  color: #fe980f;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.productinfo p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img {
  width: 100%;
}

.productinfo {
  position: relative;
}

.add-to-cart {
  background: #f5f5ed;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #fe980f;
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
}

.add-to {
  margin-bottom: 10px;
}

.add-to-cart i {
  margin-right: 5px;
}

.add-to-cart:hover {
  background: #fe980f;
  color: #ffffff;
}

.choose {
  border-top: 1px solid #f7f7f0;
}

.choose ul li a {
  color: #b3afa8;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.choose ul li a i {
  margin-right: 5px;
}

.choose ul li a:hover {
  background: none;
  color: #fe980f;
}
.nav-pills li a:hover {
  text-decoration: none;
}

.nav-pills li a i {
  margin-left: 1rem;
}
