#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

.breadcrumbs .breadcrumb {
    background: transparent;
    margin-bottom: 75px;
    padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
    background: #00001a;
    color: #ffffff;
    padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
    content: '';
    height: auto;
    width: auto;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #00001a;
    position: absolute;
    top: 11px;
    left: 48px;
}

.breadcrumbs .breadcrumb>li+li:before {
    content: ' ';
}

#cart_items .cart_info {
    border: 1px solid #e6e4df;
    margin-bottom: 50px;
}

#cart_items .cart_info .cart_menu {
    background: #00001a;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
}

#cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid#F7F7F0;
}

#cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0;
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    margin-right: 5px;
}

#cart_items .cart_info .image {
    padding-left: 30px;
}

#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0;
}

#cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

#cart_items .cart_info .cart_description p {
    color: #696763;
}

#cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px;
}

#cart-item-image {
    width: 100px;
}

#cart_items .cart_info .cart_total_price {
    color: #00001a;
    font-size: 24px;
}

#quantity-increase {
    margin-right: 1.5rem;
    background-color: #00001a;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
    border: 0;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.2rem;
    outline: none;
}

#quantity-decrease {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #00001a;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
    border: 0;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.2rem;
    outline: none;
}

.cart_product {
    display: block;
    /*  margin: 15px -70px 10px 25px;*/
}

#empty-cart-div {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

#delete-item-div {
    margin-right: 1.5rem;
    background-color: #00001a;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
    border: 0;
    color: white;
    border-radius: 60px;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    cursor: pointer;
}

.color-size-text {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

#color-button {
    /* background-color: #00001a;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
    border: 0;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.5rem 0.4rem;
    width: 100%;
    outline: none; */
    width: 100%;
    height: 30px;
    border: 2px solid black;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #00001a;
    color: white;
    font-size: 1rem;
}

#cart-color-code {
    width: 100%;
    height: 30px !important;
    border: 2px solid black;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    cursor: pointer;
}

#continue-shopping-link {
    color: #00001a;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 3rem !important;
    font-style: italic;
}

#continue-shopping-link:hover {
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 3rem !important;
}

#selected-code {
    width: 50px;
    height: 30px !important;
    border: 2px solid black;
    margin-top: 1.1rem;
}

#selected-color-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

#color-row {
    margin-top: 3rem;
}

@media screen and (max-width: 700px) {
    #color-selector {
        margin-top: 1rem;
    }
    #cart-color-code {
        width: 35px;
    }
    .color-size-text {
        font-size: 20px;
    }
}