.cart-total {
  border: 1px solid #f7f7f5;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 8rem;
}

.total-items {
  padding-left: 1rem;
  padding-right: 1rem;
}

#subtotal {
  background-color: black;
}
