.cart-total {
    border: 1px solid #f7f7f5;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-top: 8rem;
}

.total-items {
    padding-left: 1rem;
    padding-right: 1rem;
}

#subtotal {
    background-color: black;
}

#proceed-to-checkout {
    background-color: #00001a;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
    border: 0;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}