.product-details {
    overflow: hidden;
}

#similar-product {
    margin-top: 40px;
}

#reviews {
    padding-left: 25px;
    padding-right: 25px;
}

.product-details {
    margin-bottom: 40px;
    overflow: hidden;
    margin-top: 10px;
}

.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #f7f7f0;
    height: auto;
    width: 100%;
}

.view-product h3 {
    background: #fe980f;
    bottom: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}

#details-description {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.activeDesctiption-details {
    border-bottom: 5px solid #fe980f;
    border-top: 5px solid #fe980f;
    padding: 0.5rem 0.5rem;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
}

.inactivedescription-details {
    border-bottom: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 3px 6px -2px rgb(0, 0, 0, 0.3);
}

#description-text {
    font-style: italic;
}

#similar-product .carousel-inner .item {
    padding-left: 0px;
}

#similar-product .carousel-inner .item img {
    display: inline-block;
    margin-left: 15px;
}

.item-control {
    position: absolute;
    top: 35%;
}

.item-control i {
    background: #fe980f;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px;
}

#price-text {
    color: #fe980f;
}

.item-control i:hover {
    background: #ccccc6;
}

.product-information {
    border: 1px solid #f7f7f0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
}

.newarrival {
    position: absolute;
    top: 0;
    left: 0;
}

.product-information h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 0;
}

.product-information p {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}

.product-information span span {
    color: #fe980f;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}

.product-information span input {
    border: 1px solid #dededc;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
}

.product-information span label {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 5px;
}

.share {
    margin-top: 15px;
}

#cart {
    background: #fe980f;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.shop-details-tab {
    border: 1px solid #f7f7f0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}

.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

#reviews ul {
    background: #ffffff;
    border: 0 none;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

#reviews ul li {
    display: inline-block;
}

#reviews ul li a {
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
}

#reviews ul li a i {
    color: #fe980f;
    padding-right: 8px;
}

#reviews ul li a:hover {
    background: #fff;
    color: #fe980f;
}

#reviews p {
    color: #363432;
}

#reviews form span {
    display: block;
}

#reviews form span input {
    background: #f0f0e9;
    border: 0 none;
    color: #a6a6a1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 8px;
    width: 48%;
}

#reviews form span input:last-child {
    margin-left: 3%;
}

#reviews textarea {
    background: #f0f0e9;
    border: medium none;
    color: #a6a6a1;
    height: 195px;
    margin-bottom: 25px;
    margin-top: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 99.5%;
}

#reviews button {
    background: #fe980f;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 700px) {
    #details-description {
        width: auto;
        flex-direction: column;
        margin-right: 4rem;
    }
    .product-information {
        padding-bottom: 60px;
        padding-left: 60px;
        padding-top: 60px;
    }
    .product-information h1 {
        text-align: center;
        color: #363432;
        font-size: 20px;
        margin-right: 4rem;
    }
    #details-para {
        margin-top: 2rem;
    }
    #description-text {
        margin-right: 4rem;
    }
    #price-text {
        font-size: 30px;
    }
}