#footer {
    background-color: #f0f0e9;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#footer-logo {
    width: 85%;
    height: 55%;
}

.footer-link {
    color: #00001a;
}

.footer-link:hover {
    text-decoration: none;
    color: black;
}