#order-complete {
    background-color: #fe980f;
    color: black;
    margin: 7rem 0rem 7rem 0rem;
}

.lds-hourglass {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.lds-hourglass:after {
    content: ' ';
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fe980f;
    border-color: #fe980f transparent #fe980f transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.continue-shopping-link {
    color: #ffff;
    text-decoration: underline;
}

.continue-shopping-link:hover {
    color: #ffff;
    text-decoration: underline;
}