@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Poppins&display=swap");
body {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-weight: 400px;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    transition: 300ms;
}

#root h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
p,
button,
li {
    font-family: "Poppins", sans-serif;
}

.btn:hover,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #fe980f;
    color: #fff;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

a#scrollUp i {
    font-size: 30px;
}